@using Microsoft.AspNet.Http
@using eStore.Utils

<div class="col-sm-3">&nbsp;</div>
<div class="panel col-sm-6 col-xs-12">
    <div class="panel-title text-center" style="padding-top:20px;">
        <h3 style="font-weight:bolder">Cart Contents</h3>
        <img src="/img/cart.png" style="height:10%;width:10%;padding-bottom:5%;" />
    </div>
    <div class="text-center" style="padding-top:10px;">
        <!-- Declaring variable for View Cart -->
        @{
            Dictionary<string, object> cart = Context.Session.GetObject<Dictionary<string, Object>>("cart");
            decimal SubTotal = 0.0M;
            decimal Tax = 0.0M;
            decimal Total = 0.0M;
            decimal Extended = 0.0M;
        }
        <table class="table table-striped">
            <tr style="font-weight:bolder;">
                <th class="col-xs-2 text-center">Code</th>
                <th class="col-xs-3 text-center">Description</th>
                <th class="col-xs-2 text-center">Msrp</th>
                <th class="col-xs-1 text-center">Qty</th>
                <th class="col-xs-2 text-right">Extended</th>
            </tr>
            <!-- Calculating totals / taxes / Extended etc....-->
            @{
                if (cart != null)
                {
                    foreach (var key in cart.Keys)
                    {
                        ProductViewModel item = JsonConvert.DeserializeObject
                        <ProductViewModel>
                        (Convert.ToString(cart[key]));
                        if (item.Qty > 0)
                        {
                            Extended = item.CostPrice * item.Qty;
                            <tr>
                                <td class="col-xs-2 text-center">@item.Id</td>
                                <td class="col-xs-3 text-left">@item.Description</td>
                                <td class="col-xs-2 text-center">$@Math.Round(item.CostPrice, 2)</td>
                                <td class="col-xs-1 text-center">@item.Qty</td>
                                <td class="col-xs-2 text-right">$@Math.Round(Extended,2)</td>
                            </tr>
                        }
                        SubTotal += item.CostPrice * item.Qty;
                    }
                    Tax = SubTotal * 0.13M;
                    Total = SubTotal + Tax;
                }
            }
        </table>
        <hr />
        <table class="table table-striped">
            <!-- Properly Format Currencies -->
            <tr><th colspan="4" class="col-xs-4 text-right" style="font-size:large;font-weight:bold;">Cart Totals</th></tr>
            <tr>
                <td class="col-xs-8 text-right">SubTotal: </td>
                <td class="col-xs-2 text-left" id="sub">$@Math.Round(SubTotal,2)</td>
            </tr>
            <tr>
                <td class="col-xs-8 text-right">Tax: </td>
                <td class="col-xs-2 text-left" id="tax">$@Math.Round(Tax,2)</td>
            </tr>
            <tr>
                <td class="col-xs-10 text-right">Total: </td>
                <td class="col-xs-2 text-left" id="total">$@Math.Round(Total,2)</td>
            </tr>
        </table>
        <div class="text-center">
            <form asp-controller="Cart" asp-action="AddCart" method="post" role="form">
                @if (Context.Session.GetString(SessionVars.User) != null)
                {
                    <button type="submit" class="btn btn-sm btn-primary" id="modalbtn">Add Cart</button>
                }
                &nbsp;<a href="/Cart/ClearCart" class="btn btn-sm btn-success">Clear Cart</a>
            </form>
        </div>
    </div>
</div>