@model CartItemsViewModel
<div class="col-sm-2 col-xs-12">&nbsp;</div>
<div class="text-center col-sm-8 col-xs-12">
    <form asp-controller="Brand" asp-action="SelectBrand" method="post">
        <div class="col-sm-4 col-xs-12">&nbsp;</div>
        <div class="col-sm-4 col-xs-12" style="padding-bottom:5%;">
            <span style="font-size:medium;"></span>
            <h1>BRANDS</h1>
            <select asp-for="BrandId" asp-items="@Model.GetBrands()" class="form-group form-control" onchange="this.form.submit();">
                <option value=0 selected style="display:none;">Select Brand</option>
            </select>
        </div>
        <div class="col-sm-4 col-xs-12">&nbsp;</div>
    </form>
    <catalogue brand="@Model.BrandId"></catalogue>
</div>

<div class="modal" id="details_popup">
    <div class="modal-dialog">
        <div class="modal-content col-xs-12">
            <div class="modal-body">
                <a href="" style="font-size:xx-large" data-dismiss="modal" class="pull-right">X</a>
                <form asp-controller="Brand" asp-action="SelectItem" method="post" role="form">
                    <table class="table table-striped">
                        <tr><td class="col-xs-8 text-right"><img class="img-responsive" alt="" id="detailsGraphic" /><br /></td><td class="col-xs-4 text-left" id="description"></td></tr>
                        <tr><td class="col-xs-8 text-right">Console:</td><td class="col-xs-4 text-left" id="brand"></td></tr>
                        <tr><td class="col-xs-8 text-right">Price:</td><td class="col-xs-4 text-left" id="price"></td></tr>
                        <tr><td class="col-xs-8 text-right">Game:</td><td class="col-xs-4 text-left" id="name"></td></tr>
                        <tr>
                            <td class="col-xs-4 text-right">Qty:</td>
                            <td class="col-xs-4 text-left">
                                <input asp-for="Qty" type="number" maxlength="3" size="3" min="0" style="width: 50px;" id="qty" />
                                <input asp-for="Id" type="hidden" id="detailsId" />
                            </td>
                        </tr>
                    </table>
                    <div class="text-center">
                        <button type="submit" class="btn btn-sm btn-primary" id="modalbtn">Add To Cart</button>
                        <button id="btnRemove" type="submit" class="btn-sm btn btn-danger">Remove Item</button>
                        <a href="/Cart" class="btn btn-sm btn-success">View Cart</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="results" class="text-center">
                    @ViewBag.AddMessage
                </div>
            </div>
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->

