<div style="top:50px;left:50px;position:relative;">
    <h1>Home Page!</h1>
    @ViewBag.Message
    <div style="margin:0 auto;">
        <span class="col-xs-12"><img style="margin: auto" class="img-responsive" src="/img/home.png" /></span>
    </div>
</div>